<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>View</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
</head>

<body>
  <div>
    <h4>Input Product:</h4>
    <form action="/save" method="post" enctype="multipart/form-data">
      <div class="mb-3 row">
        <label for="productId" class="col-sm-2 col-form-label">ProductID</label>
        <div class="col-sm-6">
          <input type="number" name="productId" class="form-control" placeholder="Nhập mã sản phẩm là số" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="productName" class="col-sm-2 col-form-label">Product Name</label>
        <div class="col-sm-6">
          <input type="text" name="productName" class="form-control" placeholder="Nhập tên sản phẩm" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
        <div class="col-sm-6">
          <input type="number" name="quantity" class="form-control" placeholder="Nhập số lượng" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="image" class="col-sm-2 col-form-label">Image</label>
        <div class="col-sm-6">
          <input type="file" accept="image/**" name="image" class="form-control" placeholder="Chọn hình ảnh" />
        </div>
      </div>
      <!-- <div class="mb-3 row"> -->
      <input type="submit" name="ADD" value="ADD"/>
      <!-- </div> -->
    </form>
  </div>
  <div class="content" style="margin-top: 20px;">
    <p>Viewing the data from the database</p>
    <h4>
      List product
    </h4>
    <form action="/delete" method="post" enctype="multipart/form-data">
      <table class="table">

        <thead>
          <tr>
            <th>ProductID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Image</th>
            <th>FN</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i=0; i < data.length; i++) { %>
            <tr>
              <td>
                <%= data[i].MASP %>
              </td>
              <td>
                <%= data[i].TENSANPHAM %>
              </td>
              <td>
                <%= data[i].SOLUONG %>
              </td>
              <td>
                <img src="<%= data[i].IMAGE %>" alt="" style="max-width: 200px; max-height: 200px;">
              </td>
              <td>
                <input type="hidden" name="delimg_<%= data[i].MASP %>" value="<%= data[i].IMAGE %>">
                <input type="checkbox" name="checkbox_<%= data[i].MASP %>_ckb" id="checkbox_<%= data[i].MASP %>"
                  value="<%= data[i].MASP %>" style="width: 30px; height: 30px;">
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
      <input type="submit" value="Delete" />
    </form>
  </div>
</body>

</html>